/**
 * List Divider Styles
 * Design tokens: @hidearea-design/tokens
 *
 * Styles for the ha-list-divider component
 */

:host {
  display: block;
}

.list-divider {
  height: var(--component-list-divider-width);
  background: var(--component-list-divider-color);
  margin: var(--component-list-divider-margin-vertical) 0;
}
